
<section class="container">
  <div class="apresentacao borda">
    <div class="conteudo">
      <h1>Pratique seus conhecimentos e aprenda</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum aliquid minima velit impedit nisi autem repudiandae sit facere. Recusandae et quos blanditiis explicabo eius magnam cumque accusantium debitis sed ipsum.</p>
      <button class="button-19" role="button">Button 19</button>
    </div>
    <div class="imagem">
      <img src="../../../assets/imagens/college-student-boy-studying-on-laptop-4900172-4117255.png" alt="">
    </div>
  </div>
</section>
