<section class="mouse-slide">
  <div class="slider-imgs">
    <div class="card">
      <img src="../../../../assets/imagens/imagem1.png" class="image" alt="">
      <div class="description">
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellat temporibus voluptatibus tempora maiores unde expedita omnis architec</p>
      </div>
    </div>

    <div class="card">
      <img src="../../../../assets/imagens/imagem1.png" class="image" alt="">
      <div class="description">
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellat temporibus voluptatibus tempora maiores unde expedita omnis architec</p>
      </div>
    </div>

    <div class="card">
      <img src="../../../../assets/imagens/imagem1.png" class="image" alt="">
      <div class="description">
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellat temporibus voluptatibus tempora maiores unde expedita omnis architec</p>
      </div>
    </div>
  </div>
  <div class="slider-btns">
    <button class="button-19" role="button">Button 19</button>
    <button class="button-19" role="button">Button 19</button>
    <button class="button-19" role="button">Button 19</button>
  </div>
</section>
